{% load static %}
<footer>
    <section class=" clearfix">
        <div class="tex-r-01  float-right">
            <img src="{% static 'img/digi.svg' %}" alt="" class=" img-fluid d-inline float-right">
            <br>
            <div class="text-02 ml-5 mt-3 text-dark">
                <span>تلفن پشتیبانی ۶۱۹۳۰۰۰۰ - ۰۲۱

                    |
                    ۷ روز هفته، ۲۴ ساعته پاسخگوی شما هستیم</span>
            </div>
        </div>
        <div class="btn-l float-left ml-5">
            <a href="#"><button class="btn btn-dark float-left">برگشت به بالا</button></a>
        </div>
    </section>
    <section class="col-12 arsal d-flex justify-content-around mt-5 mx-auto">
        <div class="img-logo-1">

            <img src="{% static 'img/cash-on-delivery.svg' %}" alt="" class=" img-fluid ">
            <div class="text-log-01">
                <p>پرداخت درب منزل</p>
            </div>
        </div>

        <div class="img-logo-1">

            <img src="{% static 'img/days-return.svg' %}" alt="" class=" img-fluid ">
            <div class="text-log-01">
                <p>پرداخت درب منزل</p>
            </div>
        </div>

        <div class="img-logo-1">

            <img src="{% static 'img/express-delivery.svg' %}" alt="" class=" img-fluid ">
            <div class="text-log-01">
                <p>پرداخت درب منزل</p>
            </div>
        </div>

        <div class="img-logo-1">

            <img src="{% static 'img/original-products.svg' %}" alt="" class=" img-fluid ">
            <div class="text-log-01">
                <p>پرداخت درب منزل</p>
            </div>

        </div>


        </div>
    </section>

    <div class="libel clearfix mt-5 col-12">
        <div class="col-3 clearfix float-right mb-5 d-none d-lg-block">
            <ul style="list-style: none;" class=" float-right">
                <li class=" link-item mb-3" style="font-size: 19px;"><a href="#">با دیجی کالا</a></li>
                <li class=" link-item mb-3" style="font-size: 14px;"><a href="#"> اتاق خبردیجی کالا</a></li>
                <li class=" link-item mb-3" style="font-size: 14px;"><a href="#">بازی دیجی کالا</a></li>
                <li class=" link-item mb-3" style="font-size: 14px;"><a href="#">مسابقه دیجی کالا</a></li>
                <li class=" link-item mb-3" style="font-size: 14px;"><a href="#">مقاله دیجی کالا</a></li>
            </ul>
        </div>
        <!-- 2 -->
        <div class="col-3 clearfix float-right mb-5 d-none d-lg-block">
            <ul style="list-style: none;" class=" float-right">
                <li class=" link-item mb-3" style="font-size: 19px;"><a href="#">با دیجی کالا</a></li>
                <li class=" link-item mb-3" style="font-size: 14px;"><a href="#"> اتاق خبردیجی کالا</a></li>
                <li class=" link-item mb-3" style="font-size: 14px;"><a href="#">بازی دیجی کالا</a></li>
                <li class=" link-item mb-3" style="font-size: 14px;"><a href="#">مسابقه دیجی کالا</a></li>
                <li class=" link-item mb-3" style="font-size: 14px;"><a href="#">مقاله دیجی کالا</a></li>
            </ul>
        </div>

        <div class="col-3 col-md-2 col-sm-2 clearfix float-right mb-5 d-none d-lg-block d-md-block">
            <ul style="list-style: none;" class=" float-right">
                <li class=" link-item mb-3" style="font-size: 19px;"><a href="#">با دیجی کالا</a></li>
                <li class=" link-item mb-3" style="font-size: 14px;"><a href="#"> اتاق خبردیجی کالا</a></li>
                <li class=" link-item mb-3" style="font-size: 14px;"><a href="#">بازی دیجی کالا</a></li>
                <li class=" link-item mb-3" style="font-size: 14px;"><a href="#">مسابقه دیجی کالا</a></li>
                <li class=" link-item mb-3" style="font-size: 14px;"><a href="#">مقاله دیجی کالا</a></li>
            </ul>
        </div>
        <!-- 2 -->
        <div class="col-3 col-md-3 col-sm-12 form01">
            <ul style="list-style: none;" class=" float-left">
                <h5 class=" text-right">همراه ما باشید</h5>
                <div class="icon d-flex justify-content-center">
                    <li><a href="#" class="icon-i"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#" class="icon-i"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="#" class="icon-i"><i class="fa fa-telegram"></i></a></li>
                    <li><a href="#" class="icon-i"><i class="fa fa-whatsapp"></i></a></li>
                </div>
                <div class="form mt-4">
                    <h6 style="font-size: 14px;" class="mb-4">با ثبت ایمیل، از جدید‌ترین تخفیف‌ها با‌خبر شوید</h6>
                    <div class="in d-flex ml-4 mx-auto">
                        <button class=" btn  btn1">ارسال</button>
                        <input type="text" class=" input inpu1" placeholder="ایمیل شما">
                    </div>
                </div>
            </ul>
        </div>
    </div>
    <hr>
    <!-- توضیحات ارسال قبل فوتر -->

    <section class="col-12 d-flex mt-5">
        <div class="img0101 col-3">
            <img src="{% static 'img/09.svg' %}" alt="" class=" img-fluid">
        </div>


        <div class="img0101 col-3">
            <img src="{% static 'img/22.svg' %}" alt="" class=" img-fluid">
        </div>

        <div class="img0101 col-3">
            <img src="{% static 'img/53.svg' %}" alt="" class=" img-fluid">
        </div>

        <div class="img0101 col-3">
            <img src="{% static 'img/402917.svg' %}" alt="" class=" img-fluid">
        </div>
    </section>
</footer>